



$redColor: #eb5441;
$greenColor: #00a854;
$yellowColor: #ffbf00;



$grayColor: #dfdfdf;
$blackColor: #333;
$lightGray: #fbfbfb;

$baseTextColor: #7b8499;
$baseLinkColor: #2db7f5;//蓝色  15a4fa 108ee9
$baseGreenColor: #41cac0;//绿色'
$baseGreenTextColor: #66CC33;
$baseGreenTextColor1: #66CC99;

$baseBorderColor: #d9d9d9;
$baseBackgroundColor: #f1f2f7;//背景色
$baseTextBackgroundColor: #f0faeb;
$baseTextBackgroundColor1: #f0faf5;


$courseLableBg: #f0faf5;
$courseLableText: #7fd0be;


$newGrayColor: #ddd;
